@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
:root {
  font-size: 62.5%;
  color: var(--text-color);
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  overflow: visible;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: linear-gradient(lightblue, rgb(0, 98, 255));
}

header {
  margin: 0 20px 0 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

h1 {
  margin: 0;
  font-size: 6rem;
  font-weight: normal;
  letter-spacing: 3px;
  font-family: 'Odibee Sans';
}

.leftHeader {
  display: flex;
  align-items: center;
  gap: 40px;
}

.location {
  font-size: 2rem;
}

.searchButton {
  border-radius: 5px;
  transition: color .5s;
}

.searchButton:hover {
  background-color: rgba(105, 105, 105, 0.3);
}

.searchButton:active {
  background-color: rgb(105, 105, 105, 0.5);
}


.weatherContainer {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.weatherContainer > div {
  display: flex;
  flex-direction: column;
}

.temp {
  font-size: 18rem;
}

.tempContainer:not(.temp) {
  font-size: 4rem;
}

.mainContainer {
  align-items: center;
  padding: 0 40px 0 40px;
  gap: 10px;
  border-left: solid;
  border-right: solid;
}

.weatherImageContainer {
  height: 200px;
}

.weatherImageContainer img {
  height: inherit;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
}

.main {
  font-size: 4rem;
  padding: 10px;
  border-bottom: solid;
}

.otherContainer > div {
  padding: 20px 0 20px 10px;
}

.otherContainer > div:empty {
  padding: 0;
}

.sunriseSunsetContainer {
  position: relative;
  margin-bottom: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bar, .sunProgress {
  z-index: 0;
  height: 20px;
  border-radius: 10px;
}

.sunriseSunsetContainer .bar {
  position: relative;
  z-index: 0;
  width: 80%;
  background-color: darkgray;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.6));
}

.sunriseSunsetContainer .sunProgress {
  height: 20px;
  background-color: yellow;
}

.marker {
  position: absolute;
  z-index: 1;
  transform: translate(-50%, -25%);
  width: 10px;
  height: 40px;
  border-radius: 3px;
  background-color: orangered;
}

.marker .text{
  width: max-content;
  font-size: 2rem;
  margin-top: 50px;
  transform: translateX(-50%);
}

.currentTime {
  font-size: 4rem;
  margin-bottom: 10px;
}

.sunrise {
  left: 20%;
}

.sunset {
  left: 75%;
}

@media (max-width: 1000px) {
  header {
    display: block;
  }
  .leftHeader {
    justify-content: space-between;
  }
  .weatherContainer {
    flex-direction: column;
  }
  .mainContainer {
    border: none;
    border-top: solid;
    border-bottom: solid;
    padding: 40px;
  }
  .sunriseSunsetContainer {
    margin-top: 50px;
  }
}